html
html
  head
    title FORM
  body
    form(action='/', method = "POST")
      div
        label(for = 'say') Say:
        input(name='say' value='hi')
      br
      div
        label(for='to') To:
        input(name='to' value = "express forms")
      br
      button(type = 'submit') SEND MY GREETINGS
